html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  vertical-align: middle;
}

.btn {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #333;
  border-radius: .5em;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}

.btn-small {
  font-size: .875rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #333;
  border-radius: .5em;
  color: #fff;
  text-decoration: none;
  }

.btn-big {
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #333;
  border-radius: .5em;
  color: #fff;
  text-decoration: none;
}

.btn-subtle {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #ccc;
  border-radius: .5em;
  border: 1em;
  color: #fff;
  text-decoration: none;
}

.btn-subtle:hover {
  background-color: #666;
  color: #fff;
}

.btn-ghost {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-warning {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #f33;
  border-radius:  8px;
  color: #fff;
  text-decoration: none;
}

.btn-warning:hover {
  background-color: #666;
  color: #fff;
}

.btn-small-subtle {
  font-size: .875rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #ccc;
  border-radius: .5em;
  border: 1em;
  color: #fff;
  text-decoration: none;
}

.btn-small-subtle:hover {
  background-color: #666;
  color: #fff;
}

.btn-big-subtle {
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #ccc;
  border-radius: .5em;
  border: 1em;
  color: #fff;
  text-decoration: none;
}

.btn-big-subtle:hover {
  background-color: #666;
  color: #fff;
}

.btn-small-ghost {
  font-size: .875rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
}

.btn-small-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-big-ghost {
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
}

.btn-big-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-small-warning {
  font-size: .875rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #f33;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.btn-small-warning:hover {
  background-color: #666;
  color: #fff;
}

.btn-big-warning {
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  margin: .5em 2em;
  display: inline-block;
  background-color: #f33;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}

.btn-big-warning:hover {
  background-color: #666;
  color: #fff;
}
